/* this is a global css file */
/*  CSS Styling: 3 ways
1-make global style changes in App.css
2- Make changes in Mammal.css 'mammal.modules.css
3- use Inline styles 

*/

.mammal {
    border: 2px solid #f2f2;
    box-shadow: 2px 2px 3px rgba(86, 113, 185, 0.467);
    border-radius: 10px;
    width: 50%;
    margin: auto;
    padding: .5rem;
    text-align: center;
    margin-bottom: 1rem;
    }
.textcolor {
    color: red;
}

.btn-mammals {
    color: #f1e9e9;
    padding: 1rem;
    background-color:#777;
    border: 1px solid black;
    border-radius: 6px;
    margin: 1rem;
}
.btn-mammals:hover {
    color: #f1e9e9;
    padding: 1rem;
    background-color:rgb(124, 69, 69);
    border: 1px solid black;
    border-radius: 6px;
    margin: 1rem;
}